<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Book App</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  <!-- <header>
    <h1>
      <nav>
        <a href="/">Home</a>
        <a href="/searches/new">Search Book</a>
      </nav>
    </h1>
  </header> -->
  <main>
    <div class="bookcount">
      <h4>Book Count: <%= books.length %></h4>
    </div>
    <ul>
     <% books.forEach(book => { %>
        <li><%= book.title %></li>
        <li><%= book.author %></li>
        <li><%= book.description %></li>
     <% }) %>
    </ul>
  </main>

  <form method="get" action="/search">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="author" placeholder="Author" />
    <button>Go</button>
  </form>
</body>
</html>

