<nav>
    <h1>Best Books!</h1>
  <ul class="menu">
    <li><a href="/"><span class="icon fa-home">Full BookList</span></a></li>
    <li><a href="/searches/new"><span class="icon fa-th">Find a book</span></a></li>
    
  </ul>
  </nav>